{% extends "base.html" %}
{% load cms_tags %}


{% block body_class %}about{% endblock %}
{% block topnav %}
    <li>{% show_placeholder "cv" "topmatter"%}</li>
    <li>{% show_placeholder "twitter" "topmatter"%}</li>
    <li>{% show_placeholder "about" "topmatter"%}</li>
    <li>{% show_placeholder "contact" "topmatter"%}</li>
{% endblock %}

{% block base_content %}
    <div id="content">
	<div id="top-content">
	    <div class="top-content-inner">
		<h2>About</h2>
		{% placeholder about_content %}
	    </div>
	</div>
    </div>
{% endblock %}
{% block foot_contact %}
    {% show_placeholder "contact" "footermatter"%}
{% endblock %}
{% block random_bg %}
{% placeholder random_background %}
{% endblock %}
