{% load thumbnail %}

<h1>{{ gallery.name }}</h1>
<div class="counter"><span class="number"></span> of <span class="max"></span></div>
<div id="{{ gallery.name|lower }}" class="gallery">
    <a href="#prev" class="prev icon-back"></a>
    <ul class="images">
	{% for image in gallery.image_set.all %}
	<li class="image">	
	    <img src="{% thumbnail image.image 376x0 %}" alt="{{ image.title }}">
	    
	    <div class="imageText">
		<h1>{{ image.title }}</h1>
		<p>{{ image.caption }}</p>
	    </div>
	</li>
	{% endfor %}
    </ul>
    <a href="#next" class="next icon-forward"></a>
    <div class="thumb-container">
	<a href="#next" class="thumb-next">^</a>
	<ul class="thumbs">
	    {% for image in gallery.image_set.all %}
	    <li class="thumb">
		<img class="thumbnail" src="{% thumbnail image.image 92x61 crop %}" alt="{{ image.title }}" title="{{ image.title }}"/>
	    </li>
	    {% endfor %}
	</ul>
	<a href="#prev" class="thumb-prev">v</a>

    </div>
</div>