{% load thumbnail %}
<div class="gallery-wrapper">
    <h2>{{ gallery.name }}<span class="counter"><span class="number"></span>/<span class="max"></span></span></h2>
    
    <div id="{{ gallery.name|lower }}" class="gallery">
	    
	    <ul class="images">
		{% for image in gallery.image_set.all %}
		<li class="image">
		    <div class="image-background">
			<a href="#prev" class="prev"></a>
			<div class="imgControl" data-fullsize="{{MEDIA_URL}}{{image.image}}">
			    <div class="fullScreen"></div>
			    <img src="{% thumbnail image.image 376x0 %}" alt="{{ image.title }}">
			</div>
			<a href="#next" class="next"></a>
		    </div>
		    <div class="imageText">
			<h2>{{ image.title }}</h2>
			<p>{{ image.caption }}</p>
		    </div>
		</li>
		{% endfor %}
	    </ul>
	<a href="#next" class="thumb-next"></a>    
	<div class="thumb-container">
	    
	    <ul class="thumbs">
		{% for image in gallery.image_set.all %}
		<li class="thumb">
		    <img class="thumbnail" src="{% thumbnail image.image 42x42 crop %}" alt="{{ image.title }}" title="{{ image.title }}"/>
		</li>
		{% endfor %}
	    </ul>
	    
	</div>
	<a href="#prev" class="thumb-prev"></a>
    </div>
</div>